.more-projects {
  max-width: 1513px;
  display: flex;
  flex-direction: column;
  & .more-projects__content {
    max-width: 1513px;
    display: flex;
    flex-direction: column;
  }
}

@media (width >= 450px) {
  .more-projects {
    & .more-projects__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (width >= 1000px) {
  .more-projects {
    & .more-projects__content {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
