.stacks {
  width: 890px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  & svg {
    height: 20px;
    width: auto;
  }
}

@media (width >= 375px) {
  .stacks {
    width: 600px;
  }
}

@media (width >= 390px) {
  .stacks {
    width: 500px;
  }
}

@media (width >= 680px) {
  .stacks {
    width: 100%;
    gap: 40px;
    & svg {
      height: 30px;
      width: auto;
    }
  }
}