.player {
  display: flex;
  gap: 10px;
  position: absolute;
  background-color: var(--b-opposite);
  right: 0px;
  padding: 10px;
  border-radius: 16px;
  top: 50px;
  & .btn {
    border: none;
    background: transparent;
    color: var(--t-opposite);
  } 
  & .btn--hover:hover {
    color: var(--red);
  }
}

@media (width >= 1130px) {
  .player {
    top: 80px;
  }
}