@import '@/scss/variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar__arial {
  display: none;
  position: absolute;
  bottom: -40px;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: var(--red);
  color: white;
  width: max-content;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.navbar__container {
  background-color: var(--background-color);
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  margin-top: 86px;
  padding: 30px;
  width: 100%;
  z-index: 3;
}

.navbar__list {
  flex-direction: column;
  gap: 15px;
}

.navbar__option--hover:hover {
  & svg, p {
    color: white;
    filter: drop-shadow(0px 0px 25px #FF4154) drop-shadow(0px 0px 11px var(--nav-hover)) drop-shadow(0px 0px 40px #DA0037) drop-shadow(0px 0px 11px rgba(255, 255, 255, 0.25)) drop-shadow(0px 0px 3px var(--nav-hover));
  }
}

@mixin box($background) {
  border-radius: 11px;
  background: var($background);
  box-shadow: 9px 13px 9px -3px var(--shadow) inset;
}

.navbar__option {
  position: relative;
  width: 70px;
  height: 70px;
  @include box(--background-color)
}

.open {
  display: none;
}

@keyframes entry {
  0% {
    translate-x: 200px;
  }
  100% {
    translate-x: 0px;
  }
}

@media (width >= 1130px) {
  .open {
    display: flex;
  }

  .navbar {
    width: 900px;
    padding: 20px;
    @include box(--background-navbar);
    backdrop-filter: blur(17px);
    pointer-events: painted;
  }
  
  .navbar__container {
    width: 100dvw;
    background-color: transparent;
    justify-content: center;
    margin-top: 0;
    padding-top: 30px;
    pointer-events: none;
  }

  .navbar__option {
    width: 63px;
    height: 63px;
  }

  .navbar__list{
    flex-direction: row;
  }

  .navbar__option--hover:hover {
    & span {
      display: block;
    }
}
}


@media (width >= 1400px) {
  .navbar {
    width: 1000px;
  }
}