@import '@/scss/variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar__container {
  background-color: var(--background-color);
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  margin-top: 86px;
  padding: 30px;
  width: 100%;
}

.navbar__list {
  flex-direction: column;
  gap: 15px;
}

.navbar__option--hover:hover {
  & svg, p {
    color: var(--red);
  }
}

@mixin box($background) {
  border-radius: 11px;
  background: var($background);
  box-shadow: 9px 13px 9px -3px var(--shadow) inset;
}

.navbar__option {
  width: 70px;
  height: 70px;
  @include box(--background-color)
}

.open {
  display: none;
}

@keyframes entry {
  0% {
    translate-x: 200px;
  }
  100% {
    translate-x: 0px;
  }
}

@media (width >= 1130px) {
  .open {
    display: flex;
  }

  .navbar {
    width: 900px;
    padding: 20px;
    @include box(--background-navbar);
    backdrop-filter: blur(17.5px);
  }

  .navbar__container {
    background-color: transparent;
    position: relative;
    justify-content: center;
    margin-top: 0;
    padding: 0;
  }

  .navbar__option {
    width: 63px;
    height: 63px;
  }

  .navbar__list{
    flex-direction: row;
  }
}


@media (width >= 1250px) {
  .navbar {
    width: 1000px;
  }
}