.btn-primary--active {
  animation: button-principal 0.3s ease-in-out;
}

@keyframes button-principal {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
