::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:hover {
  width: 15px;
}



::-webkit-scrollbar-track {
  background-color: var(--primary-100);
  border-radius: 10px;
  margin-block: .5em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-100);
  border-radius: 10px;
  border: .15em solid var(--bg-200);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-300);
}

@supports (scrollbar-color: var(--bg-200) var(--bg-300) var(--bg-100)) {
  * {
    scrollbar-color: var(--bg-100) var(--bg-200);
    scrollbar-width: thin;
  }
}
