.header {
  padding: 0 30px;
  padding-top: 30px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 67px;
  width: 100%;
}

@media (width >= 1130px) {
  .header {
    top: 0;
    left: 0;
    position: absolute;
    margin-bottom: 0;
    padding-top: 60px;
    height: 93px;
    z-index: 2;
  }
}

@media (width >= 1400px) {
  .header {
    padding-inline: 60px;
  }
}