.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  z-index: 500;
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
  flex-direction: column;
  gap: 30px;
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--bg-100);
  z-index: 60;
  animation: swipe 0.5s ease-in-out forwards;
}

.active {
  display: flex;
}

.switch-close-menu {
  width: max-content;
}

.switch-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav {
  display: flex;
  gap: 18px;
  height: 168px;
  & .nav__interaction {
    width: 13px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    & .line {
      height: 100%;
      border-left: 2px dashed var(--accent-200);
    }
    & .circles-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 36px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      & .circle-nav {
        width: 13px;
        height: 13px;
        border: 2px solid var(--accent-200);
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
  & .nav__options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    & .option {
      text-decoration: none;
      color: #fff;
    }
  }
}

.circle-nav--active {
  background: var(--primary-100);
}

.circle-nav--disable {
  background: var(--bg-100);
}

@keyframes swipe {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
