footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.copy {
  text-align: center;
  & a {
    font-size: var(--spam);
    font-family: "Montserrat Variable", sans-serif;
  }
}

.socials {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  & a {
    border: none;
  }
}

@media (width >= 1130px) {
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: 30;
    padding-top: 0px;
  }

  .socials {
    width: max-content;
    gap: 32px;
    & a:hover {
      border: none;
      & svg path {
        fill: var(--accent-100);
      }
    }
  }

  .copy {
    width: 60%;
  }
}
