footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.copy {
  text-align: center;
  & a {
    font-size: var(--spam);
    font-family: "Montserrat Variable", sans-serif;
  }
}

.socials {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  & a {
    border: none;
  }
  & a:hover {
    border: none;
    & svg path {
      fill: var(--primary-100);
    }
  }
}
