.table {
  border: 1px solid var(--grey);
  & td {
    padding: 10px;
    @extend .table;
  }
  & th {
    padding: 10px;
    text-align: start;
    background-color: var(--grey);
    color: white;
  }
  & tbody {
    text-transform: capitalize;
  }
  & thead {
    text-transform: uppercase;
  }
}