.contact {
  display: flex;
  flex-direction: column;
  max-width: 1513px;
  min-height: auto;
  &__content {
    padding-block: 50px;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.3rem;
    font-size: 3rem;
    text-align: center;
  }
  &__socials {
    display: flex;
    justify-content: center;
  }
  &__socials-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    max-width: 650px;
  }
}

@media (width >= 1130px) {
  .contact {
    gap: 50px;
    &__content {
      font-size: 8rem;
      font-weight: 900;
      text-underline-offset: 10px;
      line-height: 10rem;
      background: -webkit-linear-gradient(var(--text-color), var(--red));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__content--hover:hover {
      text-shadow: 0px 2px 106px var(--text-color), 0px 0px 51px rgba(255, 0, 0, 0.25), 0px 1px 15px var(--text-color);
      -webkit-text-fill-color: white;
    }
  }
}