.contact {
  display: flex;
  flex-direction: column;
  max-width: 1513px;
  min-height: auto;
  &__content {
    padding-block: 50px;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.3rem;
    font-size: 3rem;
    text-align: center;
  }
}