.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100dvw;
}

@media (width >= 1130px) {
  .landing {
    flex-direction: row;
    width: max-content;
    height: 100dvh;
    overflow-x: scroll;
  }
}