.certificates {
  padding-bottom: 30px;
  height: 100%;
  & .certificates__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: calc(100dvh - 200px);
    gap: 30px;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-bottom: 20px;
  }
  & .certificates__title {
    text-transform: uppercase;
    margin: 0;
  }
}

@media (width >= 800px) {
  .certificates {
    & .certificates__content {
      overflow: hidden;
    }
  }
}

@media (width >= 1130px) {
  .certificates {
    & .certificates__content {
      overflow: hidden;
    }
  }
}
