.certificates {
  padding-bottom: 30px;
  height: 100%;
  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: calc(100dvh - 200px);
    gap: 30px;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-bottom: 20px;
  }
}

@media (width >= 800px) {
  .certificates {
    &__content {
      overflow: hidden;
    }
  }
  
}