.project-view {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  align-items: center;
  &__content {
    display: flex;
    flex-direction: column;
  }
}

@media (width >= 1130px) {
  .project-view {
    width: 100vw;
    height: 100vh;
  }
}