@import './variables.scss';
@import './class.scss';
@import './scroll.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-display: swap;
}

body {
  cursor: url('/assets/cursor.svg'), auto;
  font-size: 1.6rem;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color)
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

b {
  color: var(--red);
}

a:hover, button:hover {
  cursor: url('/assets/pointer.svg'), auto;
}