:root, html[data-theme='dark'] {
  --background-color: #171717;
  --background-navbar: #1717174b;
  --nav-hover: #ededed;
  --text-color: #ededed ;
  --shadow: rgba(0, 0, 0, 0.25);
  --b-opposite: #ededed;
  --t-opposite: #171717 ;
  --red: #DA0037;
  --red-dark: #7c001f;
  --red-hover: #551021;
  --grey: #444444;
}

html[data-theme='light'] {
  --background-color: #ededed;
  --background-navbar: #ededed4d;
  --nav-hover: #b80935;
  --text-color: #2e0d0d ;
  --shadow: rgba(217, 217, 217, 0.51);
  --b-opposite: #171717;
  --t-opposite: #ededed;
  --red: #b80935;
  --red-dark: #510115;
  --red-hover: #330a14;
  --grey: #323131;
}