:root, html[data-theme='dark'] {
  --background-color: #171717;
  --background-navbar: #1717174b;
  --text-color: #ededed ;
  --shadow: rgba(0, 0, 0, 0.25);
  --b-opposite: #ededed;
  --t-opposite: #171717 ;
  --red: #DA0037;
  --grey: #444444;
}

html[data-theme='light'] {
  --background-color: #ededed;
  --background-navbar: #ededed4d;
  --text-color: #171717 ;
  --shadow: rgba(217, 217, 217, 0.51);
  --b-opposite: #171717;
  --t-opposite: #ededed;
  --red: #b80935;
  --grey: #323131;
}